<%= render partial: 'rapidfire/answers/errors', locals: {answer: answer} %>

<div class="row">
  <div class="input-field col s6">
    <%= f.input :answer_text, as: :integer, label: answer.question.question_text %>
  </div>
</div>
