= render partial: 'rapidfire/answers/errors', locals: {answer: answer}
.row
  .input-field.col.s12
    = f.input :answer_text, as: :radio_buttons, collection: answer.question.options,
              label: answer.question.question_text, item_wrapper_class: 'radio-margin'
