*.swp
*.*~
/.bundle
/config/env/development.env
/config/env/test.env
/config/env/production.env
/log/*.log
/tmp
db/*.sqlite3
db/*.sqlite3-journal
db/schema.rb
config/database.yml
config/unicorn.rb
public/system/*
public/upload/*
public/assets/*
coverage
.DS_Store
._.DS_Store
*.mwb.baknode_modules
node_modules
stdout

### RubyMine ###
## Directory-based project format:
.idea/
