<div class="container">
  <%= simple_form_for([@question_group, @answer_group_builder]) do |f| %>
    <%- @answer_group_builder.answers.each do |answer| %>
      <%= f.simple_fields_for("#{answer.question.id}", answer) do |answer_form| %>
        <%= render_answer_form_helper(answer, answer_form) %>
      <% end %>
    <% end %>

    <%= fab_to_save(back_url: '/rapidfire') %>
  <% end %>
</div>
