<div class="container">
   <h3>Medical Charts!</h3>
</div>

<div class="row">
  <!--<div class="col s12">This div is 12-columns wide</div>-->
  <div class="col s3">
    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel red">
          <h4 class="white-text flow-text">Prontuários</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col s3">
    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel teal">
          <h4 class="white-text flow-text">Pacientes</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col s3">
    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel yellow">
          <h4 class="white-text flow-text">Acadêmicos</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col s3">
    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel black">
          <h4 class="white-text flow-text">Outra coisa</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col s3">
    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel blue">
          <h4 class="white-text flow-text">Outra coisa</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col s3">
    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel gray">
          <h4 class="black-text flow-text">Outra coisa</h4>
        </div>
      </div>
    </div>
  </div>
</div>
