<div class="container">
  <h3>Medical Charts!</h3>
</div>

<div class="row">
  <div class="col s10 offset-s1">

    <div class="col s4">
      <div class="col s12 m12">
        <a href="#">
          <div class="card-panel yellow waves-effect waves-light max-width">
            <h4 class="white-text flow-text">Acadêmicos
              <i class="mdi-social-school right"></i>
            </h4>
          </div>
        </a>
      </div>
    </div>

    <div class="col s4">
      <div class="col s12 m12">
        <a href="#">
          <div class="waves-effect waves-light card-panel blue max-width">
            <h4 class="white-text flow-text">Database
              <i class="mdi-file-cloud right"></i>
            </h4>
          </div>
        </a>
      </div>
    </div>

    <div class="col s4">
      <div class="col s12 m12">
        <a href="#">
          <div class="waves-effect waves-light card-panel red max-width">
            <h4 class="white-text flow-text">Pacientes
              <i class="mdi-social-people right"></i>
            </h4>
          </div>
        </a>
      </div>
    </div>

    <div class="col s4">
      <div class="col s12 m12">
        <a href="#">
          <div class="waves-effect waves-light card-panel teal max-width">
            <h4 class="white-text flow-text">Prontuários
              <i class="mdi-action-assignment right"></i>
            </h4>
          </div>
        </a>
      </div>
    </div>

    <div class="col s4">
      <div class="col s12 m12">
        <a href="#">
          <div class="waves-effect waves-light card-panel black max-width">
            <h4 class="white-text flow-text">Configurações
              <i class="mdi-action-settings right"></i>
            </h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
