<%= simple_form_for(question_group) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.input :name %>
    </div>
  </div>

  <%= fab_to_save(back_url: question_groups_url) %>
<% end %>
