<div class="container">
  <h4><%= t('.title') %></h4>

  <table>
    <thead>
      <tr>
        <th><%= ta(Rapidfire::QuestionGroup, :name) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'question_group', collection: @question_groups %>
    </tbody>
  </table>
</div>

<% if can_administer? %>
  <%= fab_to_new(new_question_group_url) %>
<% end %>
