# TODO: Put your configurations here!!!
# TODO: Add two new files called "development.env" and if
# TODO:   it needed a "test.env" with the same keys

GMAIL_DOMAIN=gmail.com
GMAIL_USERNAME=your_gmail_name
GMAIL_PASSWORD=your_passwd
