= simple_form_for build_patient(@patient) do |f|
  = f.hidden_field :current_step, value: @patient.current_step
  = render "patients/steps/page#{@patient.current_step + 1}", f: f, step: @patient.current_step + 1
  = fab_to_save back_url: patients_path
