= simple_form_for build_patient(@patient) do |f|
  = f.input :current_step, as: :hidden, value: @patient.current_step

  = render "patients/steps/page#{@patient.current_step}", f: f, step: @patient.current_step

  = fab_to_save back_url: patients_path
