<div class="container">

  <h3><%= t('.title') %></h3>

  <%= render 'form' %>

  <%= link_to t('.back'), patients_path %>
</div>


<script>

  $(function() {
    var sayCheese = new SayCheese('#say-cheese-container', { audio: true });

    sayCheese.on('start', function() {
      $('#action-buttons').fadeIn('fast');

      $('#take-snapshot').on('click', function(evt) {
        sayCheese.takeSnapshot();
      });
    });

    sayCheese.on('error', function(error) {
      var $alert = $('<div>');
      $alert.addClass('alert alert-error').css('margin-top', '20px');

      if (error === 'NOT_SUPPORTED') {
        $alert.html("<strong>:(</strong> your browser doesn't support video yet!");
      } else if (error === 'AUDIO_NOT_SUPPORTED') {
        $alert.html("<strong>:(</strong> your browser doesn't support audio yet!");
      } else {
        $alert.html("<strong>:(</strong> you have to click 'allow' to try me out!");
      }

      $('.say-cheese').prepend($alert);
    });

    sayCheese.on('snapshot', function(snapshot) {
      var img = document.createElement('img');

      $(img).on('load', function() {
        $('#say-cheese-snapshots').prepend(img);
      });
      img.src = snapshot.toDataURL('image/png');
    });

    sayCheese.start();
  });
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //  var sayCheese = new SayCheese('#container-element', { });
  //  $(function() {
  //
  //    sayCheese.on('start', function() {
  //      this.takeSnapshot();
  //    });
  //
  //    sayCheese.on('snapshot', function(snapshot) {
  //      console.log(snapshot);
  //
  //      $.ajax({
  //        type: "POST",
  //        url: "/patients",
  //        data: {
  //          patient: {
  //            image: snapshot.image
  //          }
  //        },
  //        success: function(data) {
  //          alert(data.id);
  //          return false;
  //        },
  //        error: function(data) {
  //          return false;
  //        }
  //      });
  //    });
  //
  //    sayCheese.start();
  //  });
</script>
