nav ul a,
nav .brand-logo {
    color: #444;
}

.icon-footer{
    margin: 5px;
}

.dente {
    padding-left: 25px !important;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.icon-block {
    padding: 0 15px;
}

footer.page-footer {
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.max-width{
    width: 100% !important;
}

.wrapper-pad{
    margin-top: 10px;
}

.image-logo{
    margin-top: 6px;
}

.radio-margin{
    margin-right: 15px;
}

.center-btn { text-align: center }

.center-btn > a {
    margin-left: 0.3em;
}

.clickable {
    cursor: pointer;
    position: absolute;
    left: 8px;
    bottom: 0;
}

.relative-card {
    position: relative;
    height: 187px;
}
