<div class="container">
  <div class="row">
    <h3>Database</h3>
  </div>
</div>

<div class="row">
  <div class="col s10 offset-s1">
    <div class="col l5 m8 s12">
      <div class="col s12 m12">
        <%= link_to admin_basic_treatments_url do %>
          <div class="card-panel green waves-effect waves-light max-width">
            <h4 class="white-text flow-text">Tratamentos Básicos
              <i class="mdi-action-grade right"></i>
            </h4>
          </div>
        <% end -%>
      </div>
    </div>

    <div class="col l5 m8 s12">
      <div class="col s12 m12">
        <%= link_to admin_rapidfire_url do %>
          <div class="card-panel pink waves-effect waves-light max-width">
            <h4 class="white-text flow-text">Questionário Histórico
              <i class="mdi-action-history right"></i>
            </h4>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
