<nav class="cyan lighten-1" id="navTop" role="navigation">
  <div class="nav-wrapper container">
    <a href="#!" id="logo-container" class="brand-logo"><i class="mdi-action-assignment"></i> </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <%= link_to :back do %>
          <i class="mdi-navigation-arrow-back"></i>
        <% end -%>
      </li>
      <li><a href="#"><i class="mdi-action-search"></i></a></li>
      <li>
        <%= link_to root_url do %>
          <i class="mdi-action-view-module"></i>
        <% end -%>
      </li>
      <li>
        <%= link_to url_for(params) do %>
          <i class="mdi-navigation-refresh"></i>
        <% end -%>
      </li>
      <li><a href="#"><i class="mdi-navigation-more-vert"></i></a></li>
    </ul>
  </div>
</nav>
