<nav class="cyan lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a href="#!" id="logo-container" class="brand-logo"><i class="mdi-action-assignment"></i> </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#"><i class="mdi-action-search"></i></a></li>
      <li><a href="/"><i class="mdi-action-view-module"></i></a></li>
      <li><a href="#"><i class="mdi-navigation-refresh"></i></a></li>
      <li><a href="#"><i class="mdi-navigation-more-vert"></i></a></li>
    </ul>
  </div>
</nav>
