<span class="fs-title display-block mb">Icon with text</span>

<div class="divider divider--dark"></div>

<ul class="list mt++">
    <li class="list-row list-row--has-separator">
        <div class="list-row__primary">
            <i class="icon icon--s icon--grey icon--flat mdi mdi-send"></i>
        </div>

        <div class="list-row__content">
            <span>Single-line item</span>
        </div>
    </li>
    <li class="list-row list-row--has-separator">
        <div class="list-row__primary">
            <i class="icon icon--s icon--grey icon--flat mdi mdi-pencil"></i>
        </div>

        <div class="list-row__content">
            <span>Single-line item</span>
        </div>
    </li>
    <li class="list-row list-row--has-separator">
        <div class="list-row__primary">
            <i class="icon icon--s icon--grey icon--flat mdi mdi-bell"></i>
        </div>

        <div class="list-row__content">
            <span>Single-line item</span>
        </div>
    </li>
</ul>