<footer class="cyan lighten-1 page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Unisep - FEFB</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © Copyright 2015 Bruno Casali

      <a class="icon-footer grey-text text-lighten-4 right" href="#!"><i class="fa fa-facebook fa-2x"></i></a>
      <a class="icon-footer grey-text text-lighten-4 right" href="https://twitter.com/brunoocasali"><i class="fa fa-twitter fa-2x"></i></a>
      <a class="icon-footer grey-text text-lighten-4 right" href="https://github.com/Unisep/medical-charts"><i class="fa fa-github fa-2x"></i></a>
    </div>
  </div>
</footer>
