<footer class="cyan lighten-1 page-footer">
  <div class="footer-copyright">
    <div class="container">
      © Copyright 2015 Bruno Casali

      <a class="icon-footer grey-text text-lighten-4 right" href="#!"><i class="fa fa-facebook fa-2x"></i></a>
      <a class="icon-footer grey-text text-lighten-4 right" href="https://twitter.com/brunoocasali"><i class="fa fa-twitter fa-2x"></i></a>
      <a class="icon-footer grey-text text-lighten-4 right" href="https://github.com/Unisep/medical-charts"><i class="fa fa-github fa-2x"></i></a>
    </div>
  </div>
</footer>
