footer.cyan.lighten-1.page-footer
  .footer-copyright
    .container
      |  © Copyright 2015 Bruno Casali 
      a.icon-footer.grey-text.text-lighten-4.right[href="#!"]
        i.fa.fa-facebook.fa-2x
      a.icon-footer.grey-text.text-lighten-4.right[href="https://twitter.com/brunoocasali"]
        i.fa.fa-twitter.fa-2x
      a.icon-footer.grey-text.text-lighten-4.right[href="https://github.com/Unisep/medical-charts"]
        i.fa.fa-github.fa-2x
